@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about </p>
</div>
<!--registration link pointing to register tab-->
<a asp-contoller="Home" asp-action="Register">Registration</a>