@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<!--taking in required fields step 2-->

<form asp-controller="Home" asp-action="MakeNewUser">
    <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" name="username" />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" />
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" name="password" />
    </div>

    <div class="form-group">
        <label>Confirm Password</label>
        <input type="text" class="form-control" name="confirm" />


    <div class="form-group">
        <input type="submit" class="form-control" btn btn-primary />
    </div>
</form>