
@*@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<h1>Shop</h1>

<script>
    function Validate() {
        //consol.log to know entering function
        //grab firs input id=password
        //grab 2nd id = confirm password
        //use query selecor to grab value from input  "." is idnetify class # idenitfies id

        var Username = document.querySelector("#Username").value;
        // var password = getElementById("password")
        console.log();

      
        if (Users in users)

        //if (Username == username) {
        //    console.log();
        //    return true;

        //} else {
        //    console.log("return false");
        //    return false;
        //}
        //return false to stop

    }
</script>